<!-- <footer class="footer bg-light mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-muted">Le projet EPOKA, réalisé dans le cadre de l'épreuve E5 du BTS SIO.<br> L'objectif de ce site est de gérer les missions des journalistes de l'agence epoka. Ce projet se compose d'un site web permettant aux superieurs de valider les missions et aux comptables de payer les frais de missions.<br> Le projet se compose également d'une application android permettant au journalistes d'ajouter une mission à se faire rembourser.
          
        </p>
      </div>
      <div class="col-md-6">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="http://localhost:3000/validMission">Accueil</a></li>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contactez-nous</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted mb-0">© 2023 EPOKA. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer> -->
<head>
  <meta charset="UTF-8">
  <title>EPOKA</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!-- Grid container -->
<div class="container p-4">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase">Présentation</h5>
      <p>Le projet EPOKA, réalisé dans le cadre de l'épreuve E5 du BTS SIO.<br> L'objectif de ce site est de gérer les missions des journalistes de l'agence epoka. Ce projet se compose d'un site web permettant aux superieurs de valider les missions et aux comptables de payer les frais de missions.<br> Le projet se compose également d'une application android permettant au journalistes d'ajouter une mission à se faire rembourser.</p>
    </div>
    <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-0">Nous contacter</h5>
      <ul class="list-unstyled">
        
        <li><p>EPOKA - 25 Rue des Martyrs, 69700 Villeurbanne</p></li>
        <li><p>Tél : 04 78 73 00 09 | Fax : 04 78 73 53 81</p></li>
        
      </ul>
    </div>
    <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase">Légal</h5>
      
      <ul class="list-unstyled mb-0">
        <li>
          <a href="#!" class="text-dark">Conditions</a>
        </li>
        <li>
          <a href="#!" class="text-dark">Mentions Légales</a>
        </li>
        <li>
          <a href="#!" class="text-dark">Cookies</a>
        </li>
      </ul>
    </div>
    <!--Grid column-->
    
  </div>
  <!--Grid row-->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2022-2023 Tous droits réservés :
  <a class="text-dark" href="https://youtu.be/dQw4w9WgXcQ?t=42"> EPOKA </a>
</div>
<!-- Copyright -->
</footer>