<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/validMission">EPOKA</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/validMission">Validation des missions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/paieMission">Paiement des frais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/parametrage">Paramétrage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/connexion/deconnexion">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav> -->

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="http://localhost:3000/validMission">EPOKA</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="http://localhost:3000/validMission">Validation des missions</a>
      <a class="nav-item nav-link" href="http://localhost:3000/paieMission">Paiement des frais</a>
      <a class="nav-item nav-link" href="http://localhost:3000/parametrage">Paramétrage</a>
      <a class="nav-item nav-link" href="http://localhost:3000/connexion/deconnexion">Déconnexion</a>
    </div>
  </div>
</nav>